@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech&display=swap');


:root {
    --blanco: rgba(228, 228, 228,1);
}


* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: "Share Tech", sans-serif;
}

body {
display: flex;
justify-content: center;
min-height: 100vh;
align-items: center;
width: 100%;
background-repeat: no-repeat;
background-size: cover;
background-color: black;
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(8px);
}


body::before {
content: "";        
position: absolute;
background-color: rgba(0,0,0,0.5);
top: 0;        
bottom: 0;
right: 0;
left: 0;
z-index: 1;
}

body > * {
    position: relative;
    z-index: 2;
}

.reproductor-musica {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 color: var(--blanco);
 width: 380px;
 padding: 10px 30px;
 border-radius: 2px;
 background-color:rgba(228, 228, 228,0.1) ;
 border-radius: 10%;
}

.reproductor-musica h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.6;
}

.reproductor-musica p {
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.6;
}


#visualizer {
  /* estilos del canvas */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}



#progreso {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    background: rgba(165, 165, 165, 0.4);
    border-radius: 4px; 
    margin: 32px 0 24px;
    cursor: pointer;
}

#progreso::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background:var(--blanco);
    cursor: pointer;
    box-shadow: 0 6px 10px rgba(228,228,228,0.3);
}

.controles {
    display: flex;
    justify-content: center;
}

.controles button {
    width: 80px;
    aspect-ratio: 1/1;
    margin: 20px;
    border-radius: 50%;
    background: rgba(165, 165, 165, 0.3);
    color: var(--blanco);
    border: 1px solid var(--blanco);
    outline: 0;
    font-size: 1.5rem;
    box-shadow: 0 6px 10px rgba(228,228,228,0.3);
    cursor: pointer;
    transition: 200ms ease-in-out;
}


.controles button:hover {
    transform: scale(1.1);
}


.controles .boton-iniciar-pausa {
transform: scale(1.2);
}

.controles .boton-iniciar-pausa:hover {
    transform: scale(1.3);

}

.iconorep {
    color:rgb(200,0,0);
}